# java specific
*.class

bin

# we don't want machine specific paths
config/system.properties
config/quit.txt

# Fido-specific scripts and files
/build-all.sh
/lib

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
