#java specific
*.class

#netbeans ignore personal stuff 
nbproject/private/

# we don't want all the sample data for the data mining
*.sgf

# we also don't want the SGF files from the scripts folder
scripts/cgtc/cgtc-2.0.1/sgf/

bin

# but we want *some* sgf files
!SgfTestFiles/9/*
!SgfTestFiles/19/*
!testFiles/*

# we don't want machine specific paths
user.properties

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
